// Import All Styles
@import "./components/search_select/index.scss";
@import "./components/message_service/index.scss";

.divider {
    width: 100%;
    margin: 1em 0em;
    border-bottom: 1px solid $border-light;
  }


.menu-collapse-wrapper {
    display: flex;
    padding: 0;
    background: white;
    max-width: fit-content;
    transition: all 1s ease;
  }

.menu-collapse-button {
    background-color: transparent;
    border-radius: 0px;
    border-width: 1px 0px 0px 0px;
  
    align-self: flex-end;

    padding: 2em;
    margin: 0;
    width: 100%;
  }